{% extends 'base.html' %}
{% block title %}
homepage{% endblock title %}
{% block body %}

<style>
    body {
       background-image: url('https://images.unsplash.com/photo-1702594369985-163331c12097?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyM3x8fGVufDB8fHx8fA%3D%3D'); /* Add the path to your background image */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: gradientBG 15s infinite alternate;
        min-height: 100%;
        margin: 0;
        padding: 0;
    }

    @keyframes gradientBG {
        0% {
            background-position: 0% 50%;
        }
        100% {
            background-position: 100% 50%;
        }
    }

    .welcome-text {
        text-align: center;
        font-size: 3em; /* Increase font size */
        margin-top: 50px; /* Adjust the margin as needed */
        color: #00ffcc; /* Change text color to a different color, for example, light blue */
        animation: fadeInUp 1.5s ease-out; /* Custom animation for fading in */
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>

<div class="container">
    <div class="welcome-text">
        <p>Welcome to Ryzen's Home</p>
    </div>
</div>

{% endblock body %}
